.navbar{
    background-color: #4e4e4e63;
    color: blue
}
.navbar ul li{
    display: inline-block;
    font-size: 30px;
    padding-right: 20px;
    border: 1px solid #000000;
}
.active {
    color: red;
}